# MongoDB Configuration
# For local MongoDB:
# MONGODB_URL=mongodb://localhost:27017
# For MongoDB Atlas:
MONGODB_URL=
MONGODB_DB_NAME=test

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True
