# MongoDB Configuration
# For local MongoDB:
# MONGODB_URL=mongodb://localhost:27017
# For MongoDB Atlas:
MONGODB_URL=
MONGODB_DB_NAME=test

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-2
S3_BUCKET_NAME=conuguessr
S3_BASE_URL=https://conuguessr.s3.us-east-2.amazonaws.com
